.carousel-item{
    & h2{
        position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: $color_white;
    }
    & img{
        max-width: $all_width;
        max-height: 90vh;
    }
}
