$forty : 40px;
$native_color: rgba(46, 64, 83, 0.9);
$all_width: 100%;
$color_white: white;
$important: !important;
$font: 'Nutito';
$native_colorBlue: #47dafa;
.border{
    background: #3498db;
    max-width: $all_width;
    height: $forty + 20px;
    color: $color_white;
    font-size: $forty - 15px;
    & .row{
        padding-top: 1%;
        & i{
            color: $color_white;
           font-size: $forty - 10px;
        }
    }
   
  }