
//---------------------------------------------------
@import 'Variables' ;
body {
    margin: 0;
    justify-content: center;
    text-align: center;
    font-family: 'Source Sans Pro' , sans-serif;
}

@import 'Header' ;
@import 'Slider';
@import 'Icon';
@import 'Movil';
@import 'Tv';
@import 'Internet';
@import 'Footer';
@import 'Media';