@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?d44amp");
  src: url("../fonts/icomoon.eot?d44amp#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?d44amp") format("truetype"), url("../fonts/icomoon.woff?d44amp") format("woff"), url("../fonts/icomoon.svg?d44amp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\e900"; }

body {
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-family: 'Source Sans Pro' , sans-serif; }

.bg-light {
  background-color: rgba(46, 64, 83, 0.9) !important; }

.navbar-brand img {
  max-width: 100%;
  max-height: 10vh; }

.navbar-light {
  text-align: center; }
  .navbar-light .navbar-toggler:hover {
    border-color: #47dafa; }
  .navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-family: "Nutito", sans-serif;
    font-weight: bold; }
    .navbar-light .navbar-nav .nav-link:hover {
      color: #47dafa !important;
      border-top: 2px solid #47dafa; }

.carousel-item h2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white; }
