@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?d44amp");
  src: url("../fonts/icomoon.eot?d44amp#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?d44amp") format("truetype"), url("../fonts/icomoon.woff?d44amp") format("woff"), url("../fonts/icomoon.svg?d44amp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\e900"; }

.border {
  background: #3498db;
  max-width: 100%;
  height: 60px;
  color: white;
  font-size: 25px; }
  .border .row {
    padding-top: 1%; }
    .border .row i {
      color: white;
      font-size: 30px; }

body {
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-family: 'Source Sans Pro' , sans-serif; }

.bg-light {
  background-color: rgba(46, 64, 83, 0.9) !important; }

.navbar-brand img {
  max-width: 100%;
  max-height: 10vh; }

.navbar-light {
  text-align: center; }
  .navbar-light .navbar-toggler:hover {
    border-color: #47dafa; }
  .navbar-light .navbar-nav .nav-link {
    color: white !important;
    font-family: "Nutito", sans-serif;
    font-weight: bold; }
    .navbar-light .navbar-nav .nav-link:hover {
      color: #47dafa !important;
      border-top: 2px solid #47dafa; }

.carousel-item h2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white; }

.carousel-item img {
  max-width: 100%;
  max-height: 90vh; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?g47lmh");
  src: url("fonts/icomoon.eot?g47lmh#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?g47lmh") format("truetype"), url("fonts/icomoon.woff?g47lmh") format("woff"), url("fonts/icomoon.svg?g47lmh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-connection:before {
  content: "\e91b"; }

.icon-display:before {
  content: "\e956"; }

.icon-mobile:before {
  content: "\e958"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-twitter:before {
  content: "\ea96"; }

.movil .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .movil .row img {
    max-width: 100%; }
  .movil .row .title h3 p {
    color: #47dafa; }

.movil .planes {
  text-align: center;
  display: block; }
  .movil .planes h2 {
    margin: 2%;
    font-family: 'Baloo Chettan';
    color: #424949; }
  .movil .planes .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .movil .planes .row .package {
      border: 1px solid #424949;
      border-radius: 10px;
      padding: 0;
      padding-bottom: 2%; }
      .movil .planes .row .package .title {
        color: white;
        background: rgba(52, 152, 219, 0.8);
        border-radius: 10px 10px 0 0;
        margin: 0;
        font-weight: bold;
        padding: 2%; }
      .movil .planes .row .package .monthly {
        background: rgba(52, 152, 219, 0.5);
        margin: 0; }
      .movil .planes .row .package .navegation {
        background: rgba(52, 152, 219, 0.2); }
      .movil .planes .row .package .netflix {
        font-size: 40px;
        color: #424949;
        font-weight: bold; }
      .movil .planes .row .package button {
        text-align: center;
        background: #3498db;
        color: white;
        padding: 2%;
        border-radius: 5px;
        font-size: 25px;
        width: 140px; }

.tv {
  margin-bottom: 2%;
  margin-top: 2%; }
  .tv img {
    max-width: 100%; }
  .tv .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .tv .row h3 {
      color: #424949;
      font-size: 30px;
      font-weight: bold; }
      .tv .row h3 p {
        color: #47dafa; }

.internet {
  background-image: url(../img/work_second.jpg);
  max-width: 100%;
  height: 75vh;
  color: white;
  text-align: center; }
  .internet h3 {
    padding: 10% 10%  10% 0;
    font-weight: bold;
    font-size: 50px;
    color: white; }

.footer {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  max-width: 100%; }
  .footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%; }
    .footer .row .col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0; }
  .footer img {
    width: 100px;
    height: 10vh;
    margin: 2%; }
